<a href="https://colab.research.google.com/github/perfectporfoliopablo/Curso-Lenguaje-Orientado-a-objetos-y-bases-de-datos/blob/main/Tutorial_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üòä

In [ ]:
print('Hola Madrid')

Hola Madrid

In [ ]:
num1 = 10
num2 = 5
print(num1 + num2)
print(num1*num2)
print(num1/num2)
print(num1//num2)
print(num1**num2)
print(num1**0.5) # raiz cuadrada
print(num1**(1/2)) # otra forma raiz cuadrada
print(num1**(0.25)) # raiz cuarta
print(num1**(1/3)) # raiz cubica

15
50
2.0
2
100000
3.1622776601683795
3.1622776601683795
1.7782794100389228

In [ ]:
a,b,c = 'banana','pera','uva'
print(a,b,c)

nombre_tio = 'Jesus'
print ('Mi tio se llama', nombre_tio)

nombre_tia = 'Almundena'
print(f'mi tia se llama {nombre_tia}')

x = 9
y = 5
print(x % y)

banana pera uva
Mi tio se llama Jesus
mi tia se llama Almundena
4

In [ ]:
print(type(3))
print(type('Me llamo Pablo'))
print(type(False))
print(type(4.5))
print('Buenos \ndias \nmi \nquerida \nmadre')

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
Buenos
dias
mi
querida
madre

In [ ]:
#Concatenacion de Strings

saludo = 'Que tal estas'
print(saludo + ' esta ma√±ana')

#metodos may√∫scula, min√∫sculas

palabras = 'Me gusta mucho Madrid'
print(palabras.upper())
print(palabras.lower())
print(palabras.replace('gusta','encanta'))

Que tal estas esta ma√±ana
ME GUSTA MUCHO MADRID
me gusta mucho madrid
Me encanta mucho Madrid

In [ ]:
#funciones para string

print(len(palabras)) #largo de la frase numero de caracteres

21

In [ ]:
lista = [0,1,2,3,4,5,]
lista[2]
lista[-3]
lista[1:4]
lista[:3]
lista[3:]
lista[::2]

popurri = [1,2,3,'pera',4,5,('pepe','paco','Antonio'),True,1.3]
popurri[::4]
popurri[2:]
print(popurri[-2])
print(lista[2::2])

[2, 4]

In [ ]:
lista_de_listas = [[0,1,2],[4,5,6],[7,8,9]]
lista_de_listas[0][1]
lista_de_listas[1][-1]

6

In [ ]:
lista_de_sublistas=[[(1,2,3),(4,5,6)],[[7,8,9],[10,11,12]]]
lista_de_sublistas[0][1][2]

5

In [ ]:
lenguaje = 'Python'
print(lenguaje[1:6:2])

yhn

In [ ]:
comentario = 'Que calor hace'
print(comentario.index('hace')) #solo te da donde empieza el string

11

In [ ]:
print(comentario[::-2])

ea oa u

In [ ]:
mi_numero = -8
print(abs(mi_numero))

mis_numeros = [2,3,4,5]
resultado = max(mis_numeros)
print(resultado)
resultado_min = min(mis_numeros)
print(resultado_min)
resultado_sum = sum(mis_numeros)
print(resultado_sum)

print(pow(3,2))
print(pow(2,4))

8
5
2
14
9
16

In [ ]:
from math import *

In [ ]:
print(round(sqrt(25)))

5

In [ ]:
print(perm(3, 2))

6

In [ ]:
nombre = 'Ingrese su nombre: '
input(nombre)

Ingrese su nombre: pablo

'pablo'

In [ ]:
print(f"Ingrese su {nombre}")

Ingrese su Ingrese su nombre:

In [ ]:
num1 = int(input('Ingresa un numero '))
num2 = int(input('Ingresa otro numero '))
resultado = num1 + num2
print(resultado)

Ingresa un numero 3
Ingresa otro numero 4
7

In [ ]:
num1 = (input('Ingresa un numero '))
num2 = (input('Ingresa otro numero '))
resultado = float(num1) + float(num2)
print(resultado)

Ingresa un numero 3
Ingresa otro numero 4
7.0

In [ ]:
print(3<5)
print(5>8)
print(23>45)
print(7==7)

True
False
False
True

In [ ]:
edad = 48
edad += 3
print(edad)

edad2 = 50
edad2 -=10
print(edad2)

edad3 = 30
edad3 *= 3
print(edad3)

51
40
90

In [ ]:
x = 5
y = 7
if x==y:
  print('Los dos numeros son iguales')
else:
  print('Los dos numeros son distintos')

Los dos numeros son distintos

In [ ]:
x = 7
y = 5

if x==7:
  print('Los numeros son iguales')
elif x<7:
  print('x es menor que y')
else:
  print('x es mayor que x')

Los numeros son iguales

In [ ]:
estas_casada = True
eres_alta = True

if estas_casada or eres_alta:
  print('Tu eres alta y estas casada')
else:
  print('Tu ni estas casda, ni eres alta')

In [ ]:
num1 = float(input('Escribe un numero '))
num2 = float(input('Escribe otro numero '))
operador = (input('Escribe un operador '))
if operador=='+':
  print(num1+num2)
elif operador=='-':
  print(num1-num2)
elif operador=='*':
  print(num1*num2)
elif operador=='/':
  print(num1/num2)
elif operador!=('+','-','*','/'):
  print('Error, ponga el operador correcto')
else:
  print('Error fatal')

Escribe un numero 3
Escribe otro numero 4
Escribe un operador `+
Error, ponga el operador correcto

In [ ]:
nota=float(input('Diga su nota (1-10): '))
if nota==10:
  print('Su nota es extraordinario')
elif nota==9:
  print('Su nota es excelente')
elif nota==8:
  print('Su nota es sobresaliente')
elif nota==7:
  print('Su nota es notable')
elif nota==6:
  print('Su nota es bien')
elif nota==5:
  print('Su nota es suficiente')
else:
  print('Su nota es suspenso')

Diga su nota (1-10): 10
Su nota es extraordinario

In [ ]:
palabra= input('introduce ua palabra: ')

if len(palabra) > 7:
  print('la palabra es larga')
  if palabra[0].lower() == 'a':
    print('Adem√°s, la palabra comienza con la letra a')
    if palabra[-1].lower() == 'a':
      print('Tambien la palabra termina con la letra a')
elif len(palabra) >= 4:
  print('la palabra es mediana')
else:
  print('la palabra es corta')

introduce ua palabra: pablo
la palabra es mediana

In [ ]:
palabra1 = input('introduce una palabra ').lower()
palabra2 = input('introduce otra palabra ').lower()
if palabra1[::] == palabra2[::-1]:
  print ('es un palindormo')
  frase = palabra1 + palabra2
  if  frase[::1] == frase[::-1]:
    print('es una frase palindromo')
else:
  print('no es un palindromo')

introduce una palabra oro
introduce otra palabra oro
es un palindormo
es una frase palindromo

In [ ]:
a√±o=int(input('Escriba el a√±o para saber si es bisiesto: ')) # esta mal el ejercicio
if a√±o %4==0:
  if a√±o %100!=0:
    print('No es bisiesto')
    if a√±o %400==0:
      print('Es bisiesto')
    else:
      print('No es bisiesto de todas, todas')
  else:
    print('No es bisisesto por que no es divisible por 100')
else:
  print('No es bisiesto por que no es dibisible por 4')

Escriba el a√±o para saber si es bisiesto: 1596
No es bisiesto
No es bisiesto de todas, todas

In [ ]:
flores = ['rosas','amapolas','tulipales']
popurri = [True,'Me gusta el turron', 6.25, ['Lunes',('Martes','Miercoles')],flores, 24425]

print(popurri)
flores
#popurri.replace[False]

[True, 'Me gusta el turron', 6.25, ['Lunes', ('Martes', 'Miercoles')], ['rosas', 'amapolas', 'tulipales'], 24425]

['rosas', 'amapolas', 'tulipales']

In [ ]:
numeros = (1,2,3,4)
print(numeros[2])
#numeros.replace(5,6,7,8)

3

In [ ]:
flores={'amapolas','rosas','margaritas','lirios'}
print(flores)

{'amapolas', 'margaritas', 'lirios', 'rosas'}

In [ ]:
a√±o=int(input('Introduce un a√±o: '))
if(a√±o %4==0 and a√±o %100!=0) or a√±o %400==0:
  print('es bisiesto')
else:
  print('no es bisiesto')

Introduce un a√±o: 1800
no es bisiesto

In [ ]:
coches=['seat','mercedes','bmw']
for i in coches:
  print(i)

seat
mercedes
bmw

In [ ]:
for x in range(1,15,3):
 print(x)

1
4
7
10
13

In [ ]:
for letra in 'Python mola':
  print(letra)

P
y
t
h
o
n

m
o
l
a

In [ ]:
for letra in 'Python mola':
  print(letra, end='')

Python mola

In [ ]:
gente={'Pablo':5, 'Pedro':7, 'Salva':6}
for i in gente:
  print(i, end=' tiene ')
  print(gente[i],end=' manzanas \n')

Pablo tiene 5 manzanas
Pedro tiene 7 manzanas
Salva tiene 6 manzanas

In [ ]:
for i in range(1,25):
  if(i%2==0):
    print(i)
  elif(i%2!=0):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [ ]:
num=int(input('Escribe un numero entero: '))
for i in range (num,1,-1):
  print('$'*i)

Escribe un numero entero: 10
$$$$$$$$$$
$$$$$$$$$
$$$$$$$$
$$$$$$$
$$$$$$
$$$$$
$$$$
$$$
$$

In [ ]:
palabra=input('Escribe una palabra: ')
for i in range (0,10):
  print(palabra)

Escribe una palabra: pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe

In [ ]:
pais=['Canada','Usa','Maxico','Cuba']
for i in pais:
  print(i, end=' ')

Canada Usa Maxico Cuba

In [ ]:

for i in range (0,-5000,-500):
  print(i)

0
-500
-1000
-1500
-2000
-2500
-3000
-3500
-4000
-4500

In [ ]:
numero=int(input('ingresa un numero: '))
for i in range(1,numero+1):
  print('El numero es: ',i,' y el cubo es ',i**3)

ingresa un numero: 5
El numero es:  1  y el cubo es  1
El numero es:  2  y el cubo es  8
El numero es:  3  y el cubo es  27
El numero es:  4  y el cubo es  64
El numero es:  5  y el cubo es  125

In [ ]:
for i in range (10,55):
  if i!=16 and(i%3!=0 and i%2==0 ):
    print(i)

10
14
20
22
26
28
32
34
38
40
44
46
50
52

In [ ]:
lista=[10,45,356,10,10,10,46,67,45,10,10,43,10,65,10,10]
lista.sort()
for i in lista:
  if i==10:
    continue
  elif i==356:
    break
  print(i)

356

In [ ]:
numero=int(input('Escribe un numero '))
for i in range(numero ,-1,-1):
  print(i ,end=', ')

Escribe un numero 10
10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0,

In [ ]:
contador_cinco = 0
for i in range(5):
  numero=int(input('Ingresa un numero: '))
  if numero ==5:
    contador_cinco +=1
print('Has ingresado', contador_cinco, 'veces el numero 5')

Ingresa un numero: 5
Ingresa un numero: 4
Ingresa un numero: 3
Ingresa un numero: 4
Ingresa un numero: 5
Has ingresado 2 veces el numero 5

In [ ]:
lista_paises = []
for i in range(4):
  pais=input('Ingresa un pais: ')
  lista_paises.append(pais)
print('Los paises son: ', lista_paises)

Ingresa un pais: espa√±a
Ingresa un pais: inglaterra
Ingresa un pais: peru
Ingresa un pais: ecuador
Los paises son:  ['espa√±a', 'inglaterra', 'peru', 'ecuador']

In [ ]:
lista_letras=['a','b','c']
lista_letras.append('d')
lista_letras.append('e')
print(lista_letras)

['a', 'b', 'c', 'd', 'e']

In [ ]:
lista_nombres = []
for i in range (4):
  nombre=input('ingresa un nombre: ')
  lista_nombres.append(nombre)
  print('nombre de la lista', lista_nombres)

ingresa un nombrepablo
nombre de la lista ['pablo']
ingresa un nombrepedro
nombre de la lista ['pablo', 'pedro']
ingresa un nombrearturo
nombre de la lista ['pablo', 'pedro', 'arturo']
ingresa un nombrekasty
nombre de la lista ['pablo', 'pedro', 'arturo', 'kasty']

In [ ]:
edad=int(input('¬øcuantos a√±os tienes?'))
edad_minima=1
for i in range(edad):
  print('tienes ', edad_minima, 'a√±os')
  edad_minima+=1

¬øcuantos a√±os tienes?12
tienes  1 a√±os
tienes  2 a√±os
tienes  3 a√±os
tienes  4 a√±os
tienes  5 a√±os
tienes  6 a√±os
tienes  7 a√±os
tienes  8 a√±os
tienes  9 a√±os
tienes  10 a√±os
tienes  11 a√±os
tienes  12 a√±os

In [ ]:
lista_semanas=['Lunes','Martes','Miercoles','Jueves','Viernes','Sabado','Domingo']
for i in lista_semanas:
  print(i,': ',len(i))

Lunes :  5
Martes :  6
Miercoles :  9
Jueves :  6
Viernes :  7
Sabado :  6
Domingo :  7

In [ ]:
lista_partes_cuerpo=['cabeza','brazos','piernas','torso']
for i in lista_partes_cuerpo:
  if i=='cabeza':
    print('En la',i,'Tenemos el cerebro')
  elif i=='brazos':
    print('Con los',i,'con ellos abrazamos')
  elif i=='piernas':
    print('Con las',i,'con ellas andamos')
  elif i=='torso':
    print('Con el',i,'tenemos los organos')

En la cabeza Tenemos el cerebro
Con los brazos con ellos abrazamos
Con las piernas con ellas andamos
Con el torso tenemos los organos

In [ ]:
numero=6
for i in range (0,numero):
  print((i+1)*'$')
for x in range (numero,0,-1):
  print((x)*'$')

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$
$$$$$
$$$$
$$$
$$
$

In [ ]:
cosas_feliz=[]
for i in range(3):
  cosa=input('cosa que te hace feliz: ')
  cosas_feliz.append(cosa)
for x in cosas_feliz:
    print(x,'me hace feliz')

cosa que te hace feliz: salud
cosa que te hace feliz: dinero
cosa que te hace feliz: amor
salud me hace feliz
dinero me hace feliz
amor me hace feliz

In [ ]:
letra=input('Escribe tu nombre: ')
for i in letra:
  binario=(bin(ord(i))[2:])
  print(binario)

Escribe tu nombre: pablo
1110000
1100001
1100010
1101100
1101111

In [ ]:
numero=int(input('Escribe un numero: '))
for i in range(0,11):
  print(numero,'x',i,'=',i*numero)

Escribe un numero: 8
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
numero = 0
while numero <=10:
  if numero % 2 == 0:
    print("N√∫mero par:", numero)
  numero +=1

N√∫mero par: 0
N√∫mero par: 2
N√∫mero par: 4
N√∫mero par: 6
N√∫mero par: 8
N√∫mero par: 10

In [ ]:
numero=int(input('escribe un numero para el primer lado: '))
numero2=int(input('escribe un segundo numero para el segundo lado: '))
numero3=int(input('escribe un tercer numero para el tercer lado: '))
if (numero == numero2 == numero3):
  print('Es un triangulo equil√°tero')
elif(numero == numero2 or numero2 == numero3 or numero == numero3):
  print('Es un triangulo is√≥sceles')
else:
  print('Es un triangulo escaleno')

escribe un numero para el primer lado: 4
escribe un segundo numero para el segundo lado: 3
escribe un tercer numero para el tercer lado: 4
Es un triangulo is√≥sceles

In [ ]:
numero=int(input('Escribe un numero: '))
i=0
for i in range(1,numero):
  numero*=i
print('factorial es: ',numero)

Escribe un numero: 5
factorial es:  120

In [ ]:
numero=int(input('Escribe un numero: '))
primo=True
for i in range(2,numero):
  if numero%i==0:
    primo = False
    break
if primo:
  print('Es primo')
else:
  print('no es primo')

Escribe un numero: 5
Es primo

In [ ]:
print('Escribe un palabra y yo la repetir√©, escribe "salir" para termniar el programa')

while True:
  palabra = input('Escribe una palabra ')
  if palabra.lower()== 'salir':
    print('Has salido')
    break
  else:
    print('Dijiste: ', palabra)

Escribe un palabra y yo la repetir√©, escribe "salir" para termniar el programa
Escribe una palabra pablo
Dijiste:  pablo
Escribe una palabra es
Dijiste:  es
Escribe una palabra el
Dijiste:  el
Escribe una palabra mejor
Dijiste:  mejor
Escribe una palabra salir
has salido

In [ ]:


while True:
  palabra = input('Escribe la contrase√±a ')
  if palabra.lower()== 'pablo':
    print('Has entrado al programa')
    break
  else:
    print('La contrase√±a no es valida')

Escribe la contrase√±a salir
La contrase√±a no es valida
Escribe la contrase√±a pablo
Has entrado al programa

In [ ]:
palabra=""
while True:
  letra = input('Escribe la palabra: acumulando ')
  if palabra=='acumuland'and letra=='o':
    print('Esta completo: ',palabra+'o')
    break
  else:
    palabra+=letra
    print('sigue construyendo la palabra', palabra)

Escribe la palabra: acumulando a
sigue construyendo la palabra a
Escribe la palabra: acumulando c
sigue construyendo la palabra ac
Escribe la palabra: acumulando u
sigue construyendo la palabra acu
Escribe la palabra: acumulando m
sigue construyendo la palabra acum
Escribe la palabra: acumulando u
sigue construyendo la palabra acumu
Escribe la palabra: acumulando l
sigue construyendo la palabra acumul
Escribe la palabra: acumulando a
sigue construyendo la palabra acumula
Escribe la palabra: acumulando n
sigue construyendo la palabra acumulan
Escribe la palabra: acumulando d
sigue construyendo la palabra acumuland
Escribe la palabra: acumulando o
Esta completo:  acumulando

In [ ]:
numero=0
while True:
  numero+=1
  print(numero)
  if numero==10:
    print('Has llegado a 10')
    break

1
2
3
4
5
6
7
8
9
10
Has llegado a 10

In [ ]:
numero=0
final=int(input('Introduce un numero:'))
while numero <= final:
  if numero % 2 == 0:
    print(numero)
  numero+= 1

Introduce un numero:20
0
2
4
6
8
10
12
14
16
18
20

In [ ]:
lista=[]
i=0
numero=int(input('ingrese el numero de datos que desea ingresar: '))
while i < numero:
  palabra=input('ingrese una palabra: ')
  lista.append(palabra)
  i+=1
print(lista[::-1])

ingrese el numero de datos que desea ingresar: 2
ingrese una palabra: casa
ingrese una palabra: pelota
['pelota', 'casa']

In [ ]:
def mostrar_mensaje():
  print('Hola mundo')

mostrar_mensaje()

Hola mundo

In [ ]:
def di_hola(nombre):
  print('Hola',nombre)

di_hola('Pablo')
di_hola('Pedro')

Hola Pablo
Hola Pedro

In [ ]:
def di_hola(nombre,apellido,edad):
  print('Hola',nombre, apellido,'tienes',edad,'a√±os')
di_hola('Pablo','Acebron',32)

Hola Pablo Acebron tienes 32 a√±os

In [ ]:
def mi_funcion(*chicas):
  print('La chica mas joven es', chicas[0])

mi_funcion('Rosa','Ana','Petra')

La chica mas joven es Rosa

In [ ]:
def mostrar_doble(num):
  print(num*2)
mostrar_doble(2)

2

In [ ]:
def sumar(x, y):
  print(x+y)
sumar(4,7)

In [ ]:
def cube(num):
  return num*num*num

print(cube(2))

8

In [ ]:
def multiplicacion(x):
  return 3*x
print(multiplicacion(4))

12

In [ ]:
def funcion(paises):
  for pais in paises:
    print(pais)

ciudades= ['Sevilla','Vigo','Valencia']

funcion (ciudades)

Sevilla
Vigo
Valencia

In [ ]:
def max_num(num1,num2,num3):
  if num1>=num2 and num1>=num3:
    return num1
  elif num2>=num1 and num2>=num3:
    return num2
  else:
    return num3

print(max_num(3,7,4))

7

In [ ]:
def potencia(x, y):
  print(x**y)
potencia (3,2)

9

In [ ]:
def suma(a, b):
  return a + b

resultado = suma(3, 5)
print(resultado)

8

In [ ]:
def mayor_que(num1,num2):
  if num1<=num2:
    return  num2
  if num2>=num1:
    return  num1
print(mayor_que(3,4))

4